:root {
  --color-black: #0B0B0B;
  --color-white: #ffffff;
  --dark-blue: #234CEB;
  --light-blue: #E5FEF8;
  --color-purple: hsl(277, 100%, 60%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(110, 236, 228, 0.00) 0%, #E5FEF8 100%);
  min-height: 100vh;
  background-color: var(--color-white);
  color: var(--color-black);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--light-blue))
    )
    rgba(110, 236, 228, 0.00);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 6%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
