.section {
    padding: 4rem 0;
}

.charts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}