.container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
    font-weight: 600;
}


.link {
    color: var(--dark-blue);
}

.link_other {
    padding: .5rem 1rem;
    border-radius: 24px;
    background: var(--dark-blue);
    color: var(--color-white);
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.09); */
}