.container {
    display: flex;
    gap: 2rem;
    min-height: 75vh;
    align-items: center;
    justify-content: space-between;
}

.left {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.left p {
    font-size: 1.2rem;
}

.left button {
    width: max-content;
    font-size: 1rem;
    letter-spacing: .5px;
    padding: .7rem 2rem;
    border: none;
    border-radius: 24px;
    background: var(--dark-blue);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.09);  
}

.right {
    flex: 2;
}